<h2>{{className}} Class Overview</h2>

<h3>Weapons</h3>
{{#if weapons.length}}
  <ul>
    {{#each weapons}}
      <li>
        <strong>{{name}}</strong> – Damage: {{damage}}<br>
        {{description}}<br>
        {{#if image_url}}
          <img src="{{image_url}}" alt="{{name}}" width="150">
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No weapons found for this class.</p>
{{/if}}

<h3>Gadgets</h3>
{{#if gadgets.length}}
  <ul>
    {{#each gadgets}}
      <li>
        <strong>{{name}}</strong><br>
        {{description}}<br>
        {{#if image_url}}
          <img src="{{image_url}}" alt="{{name}}" width="120">
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No gadgets found for this class.</p>
{{/if}}

<h3>Specializations</h3>
{{#if specializations.length}}
  <ul>
    {{#each specializations}}
      <li>
        <strong>{{name}}</strong><br>
        {{description}}<br>
        {{#if image_url}}
          <img src="{{image_url}}" alt="{{name}}" width="120">
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No specializations found for this class.</p>
{{/if}}
