<h2>{{title}}</h2>

<ul>
  {{#each maps}}
    <li>
      <strong>{{name}}</strong>
      {{#if location}} - Location: {{location}}{{/if}}
      <br>
      {{description}}
      {{#if image_url}}
        <br><img src="{{image_url}}" alt="{{name}}" width="200">
      {{/if}}
    </li>
  {{/each}}
</ul>
