<h2>{{title}}</h2>
<p><a href="/add/specialization">➕ Add New Specialization</a></p>
<ul>
  {{#each specializations}}
    <li>
      <strong>{{name}}</strong> ({{class}})
      <br>
      {{description}}
      {{#if image_url}}
        <br><img src="{{image_url}}" alt="{{name}}" width="150">
      {{/if}}
    </li>
  {{/each}}
</ul>
